# Ignore add directories and files that starts from dot.
**/.*

# Not ignore Git-ignore.
!.gitignore

# Not ignore Docker-environment.
!.env

# Not ignore Docker-ingnore.
!.dockerignore

# Not ignore GitLab CI config.
!.gitlab-ci.yml

# Ignore log-files.
*.log

# Ignore config-files.
/*.yml

# Ignore temporary data.
**/temp
**/tmp

# Ignore Gradle build.
build/

# Ignore Maven build.
target/

# Ignore Eclipse JDT (Java Development Tools) build.
bin/

# Ignore Python cache.
**/__pycache__

# Ignore Python virtual environments.
**/env
**/venv

# Python setup.
build/
dist/
*.egg-info

# Ignore Python dynary files.
**/*.pyc

# Ignore Node.js Modiles.
**/node_modules
