# Ignore all dot-files and dot-folders.
.*

# Save gitignore.
!/.gitignore

# Ignore log-files.
**/*.log*

# Ignore temporal directories.
**/tmp/

# Ignore Python cache.
**/__pycache__

# Ignore Python dynary files.
**/*.pyc
