# Ignore all dot-files and dot-folders.
.*

# Ignore log-files.
**/*.log*

# Save gitignore.
!/.gitignore

# Ignore Gradle build.
build/

# Ignore Maven build.
target/

# Ignore Eclipse JDT (Java Development Tools) build.
bin/

# Save IDEA configuration.
!/.idea

# Ignore user-specific IDEA project configuration.
.idea/workspace.xml

# Ignore Python cache.
**/__pycache__

# Ignore Python dynary files.
**/*.pyc

# Ignore Node.js Modiles.
**/node_modules
